 /*CSS*/

        /*전체 선택자*/
        * {
            /*HTML 페이지 내부의 태그를 모두 선택*/
        }

        /*클래스 선택자*/
        .box1 {
            width: 30%;
            height: max-content;
            background-color: burlywood;
        }

        .box2 {
            width: 500px;
            height: 300px;
            margin-top: 10%;
            background-color: cadetblue;
        }

        /*아이디 선택자*/
        #idbox1 {
            width: 30%;
            height: max-content;
            background-color: brown;
        }

        #idbox2 {
            width: 500px;
            height: 300px;
            background-color: darkseagreen;
        }

        #JSbox{
            margin-top: 50px;
            width: 300px;
            height: 300px;
            background-color: darkgray;
        }

        /*태그 선택자*/
        hr {
            height: 20px;
            background-color: black;
            border: solid 10px blue;
        }

        p {
            font-size: larger;
            color: aliceblue;
        }

        ul>li {
            font-size: large;
            font-weight: bold;
        }

        ol>li {
            font-size: large;
            color: cornsilk;
        }

        a {
            text-decoration-line: none;
        }

        button {
            display: block;
            width: 70px;
            height: 70px;
            margin: auto;
            margin-bottom: 30px;
            align-self: auto;
        }