:root{
    /* App Colors */

    /* 색깔보다 한 단계 더 추상적으로 사용하는 색깔들인거암. 웹의 전반적인 색깔을 담당하는
    primary, 강조할때 사용하는 accent, 그리고 텍스트의 색깔인 text까지 이렇게 내가 CSS내에서
    사용하는 색깔조차도 나중에 변수로 만들어서 사용가능하다는것이다. */
    --color-primary: var(--color-firstgreen);
    --color-primary-variant: var(--color-secondgreen);
    --color-primary-secondvariant: var(--color-thirdgreen);
    
    /* 주로 사용하는 프라이머리 색상에 대한 변형을 하나 더 정의.(프라이머리 하나만 사용하면 밋밋하니까~) */
    --color-accent: var(--color-thirdbrown);
    --color-accent-variant: var(--color-orange);
    
    /* 얘도 같은 의미에서 베리언트를 설정해줌. 액센트 색깔 하나만 사용하면 밋밋하니까 ㅇㅇ */
    --color-text: var(--color-white);
    
    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
    --color-peach: #E19898;
    --color-lighterpurple: #a693e7;
    --color-lightpurple: #A2678A;
    --color-purple: #614bc3;
    --color-pink: #FF6969;

    /* Color match(SET) */
    --color-firstgreen: #435334;
    --color-secondgreen: #9eb384;
    --color-thirdgreen: #cedebd;
    --color-fourthbeige: #faf1e4;

    /* Color match(SET) */
    --color-firstbrown: #594545;
    --color-secondbrown: #815B5B;
    --color-thirdbrown: #9E7676;

    /* Background-grediant */
    --home-bg-gradient: linear-gradient(180deg, rgba(8,26,60,1) 0%, rgba(5,10,19,1) 100%);

    /* Size */
    --size-max-width: 1200px;
}

*{
    box-sizing: border-box;
    /* 조금 더 직관적으로 너비와 높이를 명시할 수 있도록(패딩과 보더까지 합해서 위드와 하이트가 지정될 수 있도록 하기 위함) */
}

html{
    width: 100%;
    scroll-behavior: smooth;
    background-color: #435334;
    /* 스크롤될때 부드러운 효과를 줄 때 사용한다고 함. */
}

body{
    /* width: 100%; */
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    overflow-x: hidden;
    /* 이거 우측에 흰색 공백 생기는거 막기위해서 해놓음. */

}

h1, h2, h3, p, ul{
    margin: 0;
}

hr{
    height: 10px;
    background-color: black;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-black);
}



/* Common(재사용 목적 css, 흐름이 비슷한 것들한테는 공통적인 스타일링을 해줌.) */
.section{
    padding: 4rem;
    text-align: center;
}

input[type=file]::file-selector-button{
  width: 150px;
  height: 60px;
  background: #fff;
  border: 4px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
  font-size: 28px;
}

input[type=submit]{
    width: 150px;
    height: 60px;
    background: #fff;
    border: 4px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
    font-size: 28px;
  }

/* Header */
.header{
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;    
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    /* flex에서 기준축(지금은 수평)에 대한 정렬 속성값은 정렬하는 방식에 따라 상이함. */
    align-items: center;
    /* flex에서 기준축의 반대축(지금에서 반대축은 수직)에 대한 정렬 속성값은 정렬하는 방식에 따라 상이함. */
    z-index: 1;
    transition: all 250ms ease;
    border: solid 10px rgba(157, 205, 187, 0.28);
}

.header__logo{
    display: flex;
    align-items: center;
    gap: 8px;
    /* flex 박스 안에들어있는 자식들간의 여백(gap)을 관리*/
}

.header__logo__img{
    width: 180px;
    height: 220px;
}

.header__logo__title{
    font-size: 3.8rem;
    /* rem은 상대적인 유닛. 현재 브라우저에 설정되어있는 폰트 사이즈에 1.8배임 */
}

.header__logo__title > a{
    color: rgba(155, 190, 68, 0.725);
}

.header__menu{
    display: flex;
    gap: 4px;
}

.header__menu__item{
    display: block;
    padding: 12px 18px;
    margin-left: 30px;
    font-size: 2.4rem;
    border-bottom: 2px solid transparent;
    /* 기본상태에서는 투명하게 있음. -> 부모와 색상을 동일하게 만듦 */
    /* 이걸 왜 해줬냐면 호버되면 밀려서. 미리 그냥 보더 바텀을 줌 */

}

.header__menu__item > a{
    font-weight: bolder;
}

.header__menu__item:hover{
    border: 8px solid rgba(255, 255, 255, 0.487);
}

/*main*/

/*introduce*/
.introduce__containner{
    display: flex;
    justify-content: flex-start;
    margin-top: 12%;
    width: 100%;
    height: 1000px;
    background-color: var(--color-primary-variant);
    border: solid 10px var(--color-firstgreen);
}

.introduce__img__wraper {
    width: 70%;
    height: 100%;
    
}

.introduce__img{
    width: 100%;
    height: 100%;
    padding: 10;
    border: solid 10px var(--color-firstgreen);
}

.introduce__explanation{
    width: 30%;
    height: 100%;
    border: solid 10px var(--color-firstgreen);
}

.introduce__explanation > p{
    display: inline-block;
    font-size: 40px;
}

/*api*/
.api__containner{
    display: flex;
    justify-content:space-between;
}

/*input*/
.api__input__containner{
    width: 50%;
    height: 1000px;
    background-color: var(--color-primary-secondvariant);
    border: solid 10px var(--color-firstgreen);
}

#submitbtn{
    display: inline-block;
    margin-left: 26%;
}

#preview{
    width: 60%;
    height: 80%;
    margin-right: 30%;
    
}

/*result*/
.api__result__containner{
    width: 50%;
    height: 1000px;
    background-color: var(--color-primary-secondvariant);
    border: solid 10px var(--color-firstgreen);
}

#show__result > p{
    width: max-content;
    height: 20%;
    margin:auto;
    margin-top: 10%;
    border-bottom: solid 10px var(--color-firstgreen);
    font-size: 50px;
    font-weight: bolder;
}

/*footer*/

/*contact*/
.contact__containner{
    width: 100%;
    height: 10%;
    background-color: black;
    border: solid 10px var(--color-firstgreen);
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.contact__containner  p{
    margin: 1% auto;
    margin-bottom: 2%;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
}

/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 10px 10px;
}
.socials a{
    color: #fff;
    border: 3px solid white;
    padding: 20px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.9rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: dodgerblue;
}
/* copyright*/
.footer-copyright{
    background: #000;
    width: 100%;
    padding: 20px 20px 0px 20px;
}
.footer-copyright p{
    font-size: 30px;
    color: #fff;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}






